@using QuanLyNhaHang.Models
@{
    ViewBag.Title = "Thêm Mới Nhân Viên";
    Layout = "~/Areas/NhanVien/Views/Shared/_LayoutNhanVien.cshtml";
}

@{
    IEnumerable<DanhMuc> listDanhMuc = ViewBag.DanhMuc as IEnumerable<DanhMuc>;
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="page-title-container">
            <div class="row">
                <div class="col-auto mb-3 mb-md-0 me-auto">
                    <div class="w-auto sw-md-60">
                        <h1 class="mb-0 pb-0 display-4" id="title">Thêm Mới Nhân Viên</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg order-1 order-lg-0">
                <h2 class="small-title">Thông Tin Nhân Viên</h2>
                <div id="addressForm" class="tooltip-label-end" novalidate="">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">Tài Khoản Đăng Nhập</label>
                                    <input class="form-control" type="text" name="TaiKhoanNV" placeholder="UserName" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">Mật Khẩu</label>
                                    <input class="form-control" type="password" name="MatKhauNV" placeholder="Password" required>
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">Họ Tên</label>
                                    <input class="form-control" type="text" name="TenNhanVien" placeholder="Tên Nhân Viên" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">Số Điện Thoại</label>
                                    <input class="form-control" type="number" name="SoDienThoai" placeholder="Đại chỉ email" required>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- #region Assign Danh Mục -->
            <div class="col-xl-4 col-lg-4 col-xl-3 d-none d-lg-block">
                <div class="card mb-5">
                    <div class="card-body mb-n5" id="filterColumn">
                        <div class="mb-5">
                            <p class="text-small text-muted mb-2">Quyền</p>
                            @foreach (var item in listDanhMuc)
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="DanhMucIds" value="@item.MaDanhMuc" id="danhMuc_@item.MaDanhMuc">
                                    <label class="form-check-label" for="danhMuc_@item.MaDanhMuc">@item.TenChucNang</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->



        </div>
        <a href="/NhanVien/NhanVien/Index" class="btn btn-outline-primary">Trở Về</a>
        <button class="btn btn-danger" type="submit">Thêm Mới</button>

    </div>
}
<script>
    document.getElementById('ThoiGianBatDau').addEventListener('change', validateDateTime);
    document.getElementById('ThoiGianKetThuc').addEventListener('change', validateDateTime);

    function validateDateTime() {
        var startTime = document.getElementById('ThoiGianBatDau').value;
        var endTime = document.getElementById('ThoiGianKetThuc').value;

        if (startTime && endTime && startTime > endTime) {
            alert('Thời gian bắt đầu phải nhỏ hơn hoặc bằng thời gian kết thúc.');
            document.getElementById('ThoiGianBatDau').value = '';
            document.getElementById('ThoiGianKetThuc').value = '';
        }
    }

</script>