<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon website -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <!-- Title -->
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/style.css">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/responsive.css">
    <!-- Aler toat-->
    <script src="~/Assets/js/vendor/jquery-3.5.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
    <!-- login page start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 order-1">
                <img class="bg-img-cover bg-center" src="~/Assets/Login/images/login/1.jpg"
                     alt="looginpage">
            </div>
            <div class="col-xl-5 p-0">
                <div class="login-card login-dark">
                    <div>
                        <div class="login-main">
                            @using (Ajax.BeginForm("DangNhap", "DangNhap", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }, new { @class = "theme-form" }))
                            {

                                <h4>Đăng nhập với tài khoản được cấp</h4>
                                <p>Hệ thống quản lý bán hàng</p>
                                <div class="form-group">
                                    <label class="col-form-label">Mã Doanh Nghiệp<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" required placeholder="Nhập mã code" name="sMaDoanhNghiep">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Tài Khoản<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" required placeholder="Nhập tài khoản" name="sTaiKhoan">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Mật Khẩu<span class="text-danger">*</span></label>
                                    <div class="form-input position-relative">
                                        <input class="form-control" type="password" required placeholder="*********" name="sMatKhau">
                                        <div class="show-hide"><span class="show"> </span></div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="checkbox p-0">
                                        <input id="checkbox1" type="checkbox">
                                        <label class="text-muted" for="checkbox1">Ghi nhớ mật khẩu</label>
                                    </div><a class="link" href="forget-password.html.htm">Quyên mật khẩu?</a>
                                    <div class="text-end mt-3">
                                        <button class="btn btn-primary btn-block w-100" type="submit">Đăng Nhập</button>
                                    </div>
                                </div>
                                <div class="ThongBao" id="ThongBao">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                </div>
                                @*<h6 class="text-muted mt-4 or">Đăng nhập với</h6>
                                <div class="social mt-4">
                                    <div class="btn-showcase">
                                        <a class="btn btn-light" href="https://www.linkedin.com/login"
                                           target="_blank"><i class="txt-linkedin" data-feather="linkedin"></i> LinkedIn </a><a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                                            <i class="txt-twitter" data-feather="twitter"></i>twitter
                                        </a><a class="btn btn-light"
                                               href="https://www.facebook.com/" target="_blank">
                                            <i class="txt-fb"
                                               data-feather="facebook"></i>facebook
                                        </a>
                                    </div>
                                </div>
                                <p class="mt-4 mb-0 text-center">
                                    Bạn chưa có tài khoản?
                                    <a class="ms-2" href="#">Tạo mới</a>
                                </p>*@
                                <script>
                                    (function () {
                                        'use strict';
                                        window.addEventListener('load', function () {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function (form) {
                                                form.addEventListener('submit', function (event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- latest jquery-->
        <script src="~/Assets/Login/js/jquery.min.js"></script>
        <!-- Bootstrap js-->
        <script src="~/Assets/Login/js/bootstrap/bootstrap.bundle.min.js"></script>
        <!-- feather icon js-->
        <script src="~/Assets/Login/js/icons/feather-icon/feather.min.js"></script>
        <script src="~/Assets/Login/js/icons/feather-icon/feather-icon.js"></script>
        <!-- scrollbar js-->
        <!-- Sidebar jquery-->
        <script src="~/Assets/Login/js/config.js"></script>
        <!-- Plugins JS start-->
        <!-- calendar js-->
        <!-- Plugins JS Ends-->
        <!-- Theme js-->
        <script src="~/Assets/Login/js/script.js"></script>
        <script>
        $(document).ready(function () {
            var toastMessage = '@TempData["ToastMessage"]';

            if (toastMessage) {
                var parts = toastMessage.split('|');
                if (parts.length === 2) {
                    var toastType = parts[0];
                    var message = parts[1];

                    switch (toastType) {
                        case 'success':
                            toastr.success(message);
                            break;
                        case 'error':
                            toastr.error(message);
                            break;
                        case 'info':
                            toastr.info(message);
                            break;
                        case 'warning':
                            toastr.warning(message);
                            break;
                    }
                }
            }
        });
        </script>
    </div>
</body>

</html>