
@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Areas/NhanVien/Views/Shared/_LayoutDangNhap.cshtml";
}

@using (Ajax.BeginForm("DangNhap", "DangNhap", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }, new { @class = "theme-form" }))
{

    <h4>Đăng nhập với tài khoản được cấp</h4>
    <p>Hệ thống quản lý bán hàng</p>
    <div class="form-group">
        <label class="col-form-label">Mã Doanh Nghiệp<span class="text-danger">*</span></label>
        <input class="form-control" type="text" required placeholder="Nhập mã code" name="sMaDoanhNghiep">
    </div>
    <div class="form-group">
        <label class="col-form-label">Tài Khoản<span class="text-danger">*</span></label>
        <input class="form-control" type="text" required placeholder="Nhập tài khoản" name="sTaiKhoan">
    </div>
    <div class="form-group">
        <label class="col-form-label">Mật Khẩu<span class="text-danger">*</span></label>
        <div class="form-input position-relative">
            <input class="form-control" type="password" required placeholder="*********" name="sMatKhau">
            <div class="show-hide"><span class="show"> </span></div>
        </div>
    </div>
    <div class="form-group mb-0">
        <div class="checkbox p-0">
            <input id="checkbox1" type="checkbox">
            <label class="text-muted" for="checkbox1">Ghi nhớ mật khẩu</label>
        </div><a class="link" href="/NhanVien/DangNhap/QuenMatKhau">Quyên mật khẩu?</a>
        <div class="text-end mt-3">
            <button class="btn btn-primary btn-block w-100" type="submit">Đăng Nhập</button>
        </div>
    </div>
    <div class="ThongBao" id="ThongBao">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    </div>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}


